In [ ]:
#under this we will analye the age group of tourist incoming table 11

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_excel("Data from 2019-2022 excel files (copy)/Tourism-Statistics-for-year-2022.xlsx" ,sheet_name = "Table 29", skiprows = 3)

In [3]:
#converting the right columns

df.columns = ["NaN","States/UTs","Domestic_2021","Foreign_2021","Domestic_2022","Foreign_2022","NaN","NaN","DTV_22","FTV_22"]